.dataTables_filter {
	float: right;
}

.table-hover>tbody>tr:hover {
	background-color: #ccffff;
}

@media only screen and (min-width: 768px) {
	.table {
		table-layout: fixed;
		max-width: 100% !important;
	}
}

.table>:not(caption)>*>* {
	border: none;
}

table.dataTable {
	border-radius: 10px;
}

table.dataTable thead>tr>th.sorting::after {
	top: 60%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	color: #fff;
}

.page-link {
	background-color: #374151;
	color: #ccffff;
	text-decoration: none;
}
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
	background-color: rgb(231, 230, 248);
	color: #1c192e;
}

.page-item.active .page-link {
	background: #313B49;
	border-color: #374151;
}

thead tr {
	background: #202835;
	color: #ffffff !important;
}

.table td:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
}

.highlight {
	background: #ffff99;
}

.table tfoot tr {
	background: #202835;
	font-weight: bold;
	color: #ffffff;
}

@media only screen and (max-width: 767px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr,
	tfoot tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50% !important;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.table td:nth-child(1) {
		background: #293241;
		height: 100%;
		top: 0;
		left: 0;
		font-weight: bold;
	}

	/*
  Label the data
  */
	td:nth-of-type(1):before {
		content: "Name";
	}

	td:nth-of-type(2):before {
		content: "Position";
	}

	td:nth-of-type(3):before {
		content: "Office";
	}

	td:nth-of-type(4):before {
		content: "Age";
	}

	td:nth-of-type(5):before {
		content: "Start date";
	}

	td:nth-of-type(6):before {
		content: "Salary";
	}

	/* .dataTables_length {
    display: none;
  } */
	div.dataTables_wrapper div.dataTables_filter {
		text-align: center;
	}

	.dataTables_filter {
		float: none;
	}

	td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.table td {
		cursor: pointer;
	}
}

table.dataTable>tbody>tr,
.table>tbody {
	background: #374151;
	color: #ffffff !important
}