<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<!-- bootstrap -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
	<!-- External Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
	<!-- font-awesome icon css  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Custom Styles -->
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">


</head>

<body>
	<div class='dashboard'>
		<!-- Navigation -->
		<div class="dashboard-nav">
			<header>
				<a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a> <a href="#" class="brand-logo"> <i
						class="fas fa-anchor"></i> <span>BRAND</span>
				</a>
			</header>

			<nav class="dashboard-nav-list">
				<a href="#" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i> Dashboard</a> <a
					th:href="@{profile}" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile</a> <a
					th:href="@{income}" class="dashboard-nav-item"><i class="fas fa-chart-line"></i>
					Income</a>

				<!-- Users Dropdown -->
				<div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"> <i class="fas fa-users"></i>
						Users
					</a>
					<div class='dashboard-nav-dropdown-menu'>
						<a th:href="@{directmember}" class="dashboard-nav-dropdown-item">
							<i class="fas fa-code-branch"
								style="transform: rotate(180deg) scaleX(-1); padding-right: 15px;"></i>
							Direct Member
						</a> <a th:href="@{teammember}" class="dashboard-nav-dropdown-item">
							<i class="fas fa-solid fa-sitemap"></i> Team Member
						</a>
					</div>
				</div>

				<!-- Wallet Dropdown -->
				<div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"> <i
							class="fas fa-solid fa-wallet"></i> Wallet
					</a>
					<div class='dashboard-nav-dropdown-menu'>
						<a th:href="@{profitwallet}" class="dashboard-nav-dropdown-item">
							<i class="fas fa-solid fa-coins"></i> Profit Wallet
						</a> <a th:href="@{depositwallet}" class="dashboard-nav-dropdown-item">
							<i class="fas fa-solid fa-money-bill-wave"></i> Deposit Wallet
						</a>
						<a th:href="@{withdrwalstatus}" class="dashboard-nav-dropdown-item">
							<i class="fab fa-brands fa-readme"></i> Transaction Brief
						</a>
					</div>
				</div>

				<a th:href="@{kyc}" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> KYC</a>

				<!-- Media Section (Commented Out)
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fas fa-photo-video"></i> Media
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="#" class="dashboard-nav-dropdown-item">All</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Images</a>
                        <a href="#" class="dashboard-nav-dropdown-item">Video</a>
                    </div>
                </div>
                -->

				<a th:href="@{support}" class="dashboard-nav-item"><i class="fas fa-solid fa-life-ring"></i> Support</a>
				<div class="nav-item-divider"></div>
				<a th:href="@{logout}" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
			</nav>
		</div>

		<!-- Dashboard Application Content -->
		<div class='dashboard-app'>





			<header class='dashboard-toolbar'>
				<a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>

				<!-- Profile Section (Positioned to the Right) -->
				<div class="profile-section">
					<!-- Name and User ID Text -->
					<div class="profile-text">
						<p th:text="${user.name}"></p>
						<p th:text="${user.id}"></p>
					</div>

					<!-- Circle Image Profile -->
					<div class="profile-image">
						<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Image"
							style="width: 50px; height: 50px; border-radius: 50%;">
					</div>
				</div>
			</header>




			<div class='dashboard-content'>
				<div class='container'>
					<script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script>
					<div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#ABB8C3" lcw-marquee-1="coins"
						lcw-marquee-2="movers" lcw-marquee-items="10"></div>
					<div class='card'>
						<div class='card-header'>
							<h1>Welcome to Dashboard</h1>
						</div>
						<div class='card-body'>
							<h3 th:text="'Hello ' + ${user.name}"></h3>
							<p>Welcome to your dashboard!</p>

						</div>
					</div>
					<section class="statistics mt-4">
						<div class="row">
							<div class="col-lg-4">
								<div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
									<i class="fas fa-solid fa-coins fs-2 text-center bg-primary rounded-circle"></i>
									<div class="ms-3">
										<div class="d-flex align-items-center">
											<h3 class="mb-0" th:text="${user.deposite}"></h3>
											<span class="d-block ms-2">Stacked Coin</span>
										</div>
										<p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">

									<i class="fas fa-solid fa-money-bill fs-2 text-center bg-danger rounded-circle"></i>
									<div class="ms-3">
										<div class="d-flex align-items-center">
											<h3 class="mb-0" th:text="${user.coin}"></h3>
											<span class="d-block ms-2">Estimated Profit</span>
										</div>
										<p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="box d-flex rounded-2 align-items-center p-3">
									<i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
									<div class="ms-3">
										<div class="d-flex align-items-center">
											<h3 class="mb-0">45</h3>
											<span class="d-block ms-2">Your Team</span>
										</div>
										<p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
									</div>
								</div>
							</div>
						</div>
					</section>



					<section class="statis mt-4 text-center">
						<div class="row">
							<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
								<div class="box bg-primary p-3">
									<i class="fas fa-solid fa-coins"></i>
									<h3 th:text="${user.deposite}"></h3>
									<p class="lead">Stacked Coins</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
								<div class="box bg-danger p-3">
									<i class="fas fa-solid fa-money-bill"></i>
									<h3 th:text="${user.coin}"></h3>
									<p class="lead">Estimated Profit</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
								<div class="box bg-warning p-3">
									<i class="uil-shopping-cart"></i>
									<h3>100</h3>
									<p class="lead">Total Profit</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="box bg-success p-3">
									<i class="uil-feedback"></i>
									<h3>5,00</h3>
									<p class="lead">Withdrawal</p>
								</div>
							</div>
						</div>
					</section>

					<section>
						<div class="row mt-4">


							<div class="col-xl-8 ">
								<div class="tradingview-widget-container">
									<div id="tradingview_90a59">
										<div id="tradingview_fe3e1-wrapper">
											<iframe title="advanced chart TradingView widget" lang="en"
												id="tradingview_fe3e1" frameborder="0" allowtransparency="true"
												scrolling="no" allowfullscreen="true"
												src="https://s.tradingview.com/widgetembed/?hideideas=1&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=in#%7B%22symbol%22%3A%22FX%3AEURUSD%22%2C%22frameElementId%22%3A%22tradingview_fe3e1%22%2C%22interval%22%3A%22D%22%2C%22allow_symbol_change%22%3A%221%22%2C%22save_image%22%3A%221%22%2C%22studies%22%3A%22%5B%5D%22%2C%22theme%22%3A%22light%22%2C%22style%22%3A%221%22%2C%22timezone%22%3A%22Etc%2FUTC%22%2C%22studies_overrides%22%3A%22%7B%7D%22%2C%22utm_source%22%3A%22www.hedgexfund.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22chart%22%2C%22utm_term%22%3A%22FX%3AEURUSD%22%2C%22page-uri%22%3A%22www.hedgexfund.com%2Fpanel%2Fhome%22%7D"
												style="width: 100%; height: 100%; margin: 0px !important; padding: 0px !important;"></iframe>
										</div>
									</div>
									<script type="text/javascript" async=""
										src="https://js.driftt.com/include/1705103400000/6ashbsefxhx7.js"></script>
									<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
									<script type="text/javascript">
										new TradingView.widget(
											{
												"width": "100%",
												"height": 380,
												"symbol": "FX:EURUSD",
												"interval": "D",
												"timezone": "Etc/UTC",
												"theme": "light",
												"style": "1",
												"locale": "in",
												"toolbar_bg": "#f1f3f6",
												"enable_publishing": false,
												"allow_symbol_change": true,
												"container_id": "tradingview_90a59"
											});
									</script>

								</div>
							</div>


							<div class="col-xl-4 col-lg-12">
								<div class="card">
									<div class="card-content">
										<div class="card-header">
											<h6 class="card-title text-center">Referral Link</h6>
										</div>
										<div class="card-body ">
											<p class="card-text">Share on Social Media</p>
											<div class="social-icons">
												<a onclick="copyToClipboard()" class="btn btn-social-icon mb-1"><i
														class="fas fa-regular fa-copy fa-2x"></i></a>
												<a id="facebookShareLink" target="_blank" href="#"
													class="btn btn-social-icon mb-1"> <i
														class="fab fa-brands fa-facebook fa-2x"></i>
												</a>
												<a id="whatsappShareLink" target="_blank" href="#"
													class="btn btn-social-icon mb-1"> <i
														class="fab fa-brands fa-whatsapp fa-2x fa-square-whatsapp fa-solid"></i>
												</a>
												<a id="mailtoLink" target="_blank" href="#"
													class="btn btn-social-icon mb-1 btn-outline-envelope">
													<span class="fa fa-envelope font-medium-4 fa-2x"></span>
												</a>
											</div>

											<p>This is your referral link</p>
											<div class="input-group">
												<input id="refLinkInput" name="ctl00$ContentPlaceHolder1$txtRefLink"
													type="text"
													th:value="'localhost:3310/register?sponserId=' + ${user.id}"
													readonly="readonly" class="form-control" onclick="CopyRefLink();">

											</div>
											<div id="copyNotification" style="display: none;">
												<div class="notification">
													<p style="color: rgb(168, 171, 187);">Copied to
														clipboard!</p>
												</div>
											</div>
											<iframe
												src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230265.5697292737!2d84.97822444482861!3d25.608254696378427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f29937c52d4f05%3A0x831a0e05f607b270!2sPatna%2C%20Bihar!5e0!3m2!1sen!2sin!4v1705110706162!5m2!1sen!2sin"
												width="100%" height="150" style="border: 0;" allowfullscreen=""
												loading="lazy" referrerpolicy="no-referrer-when-downgrade"
												class="mt-2"></iframe>
										</div>
									</div>
								</div>




							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Custom JavaScript -->
	<script src="/javascript/dashboard.js"></script>
</body>

</html>